name: Frontend CI/CD with SSH Deploy

on:
  push:
    branches:
      - develop
      - frontend-develop
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1. GitHub 저장소에서 소스 코드 체크아웃
      - name: Checkout source
        uses: actions/checkout@v3

      # 2. DockerHub 로그인
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # 3. 프론트 Docker 이미지 빌드 및 DockerHub에 푸시
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./Frontend/personal-folio
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/frontend:latest

      # 4. EC2에 접속해 docker-compose 명령어 실행
      - name: Deploy with Docker Compose
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/app
            docker compose pull
            docker compose down
            docker compose up -d
